.home-env {
    margin-top: 100px;
    // background-color: green;
    list-style-type: none;
    position: relative;
    // padding: 0px 100px;
}

.home-env-inner {
    display: block;
    position: relative;
}

.home-photos-list {
    column-count: 3;
    column-gap: 1em;
}

.home-photos-list img {
    display: block;
    max-width: 100%;
    object-fit: contain;
    max-height: fit-content;
    margin-bottom: 15px;
}

.home-page-photos {
    display: flex;
    flex-flow: row wrap;
    width: calc(0.90 * 100vw);
    padding-top: 20px;
    //   margin-left: 55px;
    margin-left: 70px;
    }