.session-modal {
    position: absolute;
    background-color: red;
    color: white;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
    height: 40px;
    font-family: 'Helvetica Neue', 'HelveticaNeue' , 'Helvetica';
    border-radius: 5px;
    box-sizing: border-box;
    position: center;
    padding: 10px
}