.photo-show-env {
    background-color: rgb(23, 23, 23);
    margin-top: 75px;
}

.photo-show-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // width: 60%;
    height: 60vh;
}

.photo-show-details-env {
    // background-color: rgb(248, 248, 248);
    // background-color: white;
    // background-color: greenyellow;
    // height: 300px;
    position: relative;
}

.photo-show-icons {
    box-sizing: border-box;
    // background-color: white;
    // background-color: hotpink;
    top: 40px;
    left: 50px;
    position: absolute;
    // height: 130px;
    // width: 50%;
    // padding: 10px;
    // border: 1px solid rgba(167, 161, 161, 0.639);
    border-radius: 3px;
    opacity: 80%;
}

.photo-show-icons i {
    font-size: 30px;
    padding: 0px 26px;
}

.photo-show-icons .fa-camera {
    font-size: 80px;
    padding: 0px;
}

.photo-show-icons li {
    padding: 10px 0px;
}

.photo-show-title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.photo-show-description {
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    font-size: 16px;
}

.photo-show-text {
    // background-color: greenyellow;
    box-sizing: border-box;
    top: 40px;
    left: 160px;
    position: absolute;
}

.photo-show-text li {
    // padding: 10px 0px;
    font-family: 'Roboto', sans-serif;
}

.photo-show-text-info {
    // background-color: grey;
    margin-top: 18px;
    // padding: 0;
}

.photo-show-text-title {
    font-size: 36px;
    font-weight: bold;
}

.photo-show-text-description {
    font-size: 20px;
    font-weight: lighter;
    margin-top: 5px;
}

.photo-show-author {
    margin-top: 36px;
    font-size: 20px;
    text-decoration: none;
}

.photo-show-author a{
    text-decoration: none;
    color: black;
}

.photo-show-author a:hover{
    color:rgb(83, 133, 243);
}

.photo-show-date {
    margin-top: 32px;
    font-size: 20px;
}

.photo-show-edit-button {
    position: absolute;
    top: 40px;
    right: 50px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.photo-show-edit-button:hover {
    background-color: rgba(156, 156, 156, 0.562);
    cursor: pointer;
}

// .photo-show-edit-button a {
//     text-decoration: none;
//     color: black;
//     font-weight: bold;
// }