  
#profile-dropdown-trigger {
  display: inline-block;
  position: relative;
  padding: 5px;
}

.fa-user {
  cursor: pointer;
}

#profile-dropdown button {
  border: none;
  background: none;
  padding: 0;
  text-align: left;
  margin-top:20px;
  vertical-align: middle;
}

#profile-dropdown button > li {
  padding-bottom: 14px;
  padding-top: 9px;
}
 
#profile-dropdown {
  display: none;
  position: absolute;
  right: -100px;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  &.reveal {
    display: inline-block;
    box-sizing: content-box;
    width: 150px;
    background-color: white;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px rgba(180, 180, 180, 0.267);
    font-weight: lighter;
  }
}

#profile-dropdown li {
  width: 130px;
  height: 14px;
  align-items: left;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;;
  font-size: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
}

#profile-dropdown li:hover {
  background-color:rgb(64, 110, 209);
  color: white;
}

.header-logout-button:hover {
  cursor: pointer;
}