.splash-main {
    background-image: image-url('splash_1.jpg');
    background-color: rgb(250, 250, 250);
    height: 800px;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    // box-sizing: border-box;
}

// .splash-wave {
//     background-image: image-url('splash_wave.png');    
//     width: 100%;
//     height: 500px;
//     // background-position: center;
//     background-size: cover;
//     z-index: 10;
//     border: 2px solid red;
//     position: absolute;
//     top: 350px;
//     background-repeat: no-repeat;

// }
