.splash-main {
    background-image: image-url('splash_1.png');
    background-color: white;
    height: 600px;
    background-position: center;
    background-size: cover;
    // background-attachment: fixed;
    z-index: 1;
    position: relative;
    background-repeat: no-repeat;
    // border:3px solid red;
    // box-sizing: border-box;
}

.splash-welcome-message {
    position: absolute;
    left: 8%;
    right: 60%;
    top: 40px;
    font-family: 'Roboto', sans-serif;
    // font-size: 50px;;
    font-size: 4vw;
    font-weight: bolder;
    color:rgb(39, 39, 39);
    line-height: 110%;
}

#splash-signup-button {
    text-decoration: none;
    // color:rgb(39, 39, 39);
    color: white;
    // border: 2px solid #272727;
    border-radius: 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    padding: 20px 60px;
    margin-top: 30px;
    position: absolute;
    background-color: rgba(39, 39, 39, 0.685);
    line-height: 100%;
}

#splash-background-author {
    background-color: yellow;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    margin-right: 30px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 10px;
    color: rgba(128, 128, 128, 0.623);
}

#splash-signup-button:hover {
    background-color: rgba(39, 39, 39, 0.829);
}

.splash-content {
    background-color: red;
    font-family: 'Roboto', sans-serif;
    padding: 20px 40px;
}

.splash-content-title {
    background-color: rebeccapurple;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    padding: 10px;
}

.splash-content-list {
    background-color: salmon;
    display: flex;
    justify-content: space-between;

}

.splash-content-list li {
    width: 30%;
    background-color: skyblue;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
}

.splash-content-list p {
    background-color: seagreen;
    margin-top: 10px;
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;
}

.splash-icon {
    color: blue;
    width: 80px;
    height: 80px;
    z-index: 20;
    background-position: center;
    background-size: cover;
}

#splash-icon-1 {
    background-image: image-url('plant.png');
}

#splash-icon-2 {
    background-image: image-url('build.png');
}

#splash-icon-3 {
    background-image: image-url('people.png');
}

.splash-footer {

    background-color: green;
    font-family: 'Roboto', sans-serif;
    height: 75px;
    box-shadow: 0px 0px 5px 0px black;
}

.splash-footer ul {
    display: flex;
    align-items: right;
}

.splash-footer ul li {
    background-color: honeydew;
    margin: 25px;
    right: 20px;
}

.splash-footer li a {
    text-decoration: none;
    color: rgba(77, 77, 77, 0.829);
    font-size: 20px;
}